body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    background: rgb(121, 17, 219);   
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 6px;
}

.navdiv {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navlogo {
    position: relative;
    font-size: 20px;
}

.nav-links {
    position: relative;
    li {
        list-style: none;
        display: inline;
        a {
            font-weight: bold;
            color: white;
            font-family: cursive;
            margin-right: 19px;
        }
    }
}

.banner {
    width: ;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    h2 {
        font-size: 35px;
    }
}

.padding {
    padding: 7px;
    font-size: 20px;
    h2 {
        margin-left: 20px;
    }
}

.grid1 {
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    margin: 0  auto ;
    padding: 30px ;
    font-size: 20px;
    p {
        
    }
}

.grid2 {
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    margin: 0  auto ;
    padding: 30px ;
    font-size: 20px;
}

.grid_img{
    width: 90%;
    margin: 0;
    border: 3px solid black;
    border-radius: 10px;
}