body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

* {
    text-decoration: none;
}

.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    background: rgb(121, 17, 219);   
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 6px;
}

.navdiv {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navlogo {
    position: relative;
    font-size: 20px;
}

.nav-links {
    position: relative;
    li {
        list-style: none;
        display: inline;
        a {
            font-weight: bold;
            color: white;
            font-family: cursive;
            margin-right: 19px;
        }
    }
}

* h2{
    margin-left: 20px;
}

main {
    min-height: 100vh;
    background-color: rgb(172, 172, 172);
    display: flex;
    font-family: sans-serif;
}

.container {
    margin: 10% auto;
    width: 500px;
    max-width: 90%;

}

.container form{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 8px 16px rgb(0, 0, 0.3);
}

.container h1{
    text-align: center;
    margin-bottom: 24px;
    color: rgb(27, 27, 40);
}

.container h3{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(27, 27, 40);
}
.container form .form-cntrl{
    width: 100%;
    height: 40px;
    background: rgb(236, 236, 236);
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}

.container form .form-cntrol{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    width: 100%;
    height: 100px;
    background: rgb(236, 236, 236);
    border-radius: 4px;
    border: 1px solid silver;
    margin: 10px 0 18px 0;
    padding: 0 10px;
}
.container form .button{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 34px;
    border: none;
    outline: none;
    background: rgb(74, 44, 113);
    color: white;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: .3s;
}

.container form .button:hover{
    opacity: .7;
}

footer ul{
    margin-left: 30px;
}