body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

* {
    text-decoration: none;
}

.navbar {
    position: sticky;
    width: 100%;
    top: 0;
    background: rgb(75, 0, 132);   
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 6px;
}

.navdiv {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navlogo {
    position: relative;
    font-size: 20px;
}

.nav-links {
    position: relative;
    li {
        list-style: none;
        display: inline;
        a {
            font-weight: bold;
            color: white;
            font-family: cursive;
            margin-right: 19px;
        }
    }
}

.img_gellry {
    width: 80%;
    margin: 100px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    row-gap: 40px;
    column-gap: 40px;
}
.img_gellry img{
    width: 290px;
    height: 260px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
    
}

.img_gellry img:hover{
    transform: scale(1.2);
    box-shadow: 0 10px 10px rgb(255, 255, 255);
}


/* @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  } */