<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petopia &#128062;</title>
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="navlogo">
                <a href="#" style="color: white;"><big><big style="font-family: cursive;">Petopia🐾</big></big></a>
            </div>
            <ul class="nav-links">
                <li><a href="{{'home'}}"> Home </a></li>
                <li><a href="{{'about'}}"> About </a></li>
                <li><a href="{{'service'}}"> Services </a></li>
                <li><a href="{{'gallery'}}"> Gallery </a></li>
                <li><a href="{{'/'}}"> Login </a></li>
                <li><a href="{{'reg'}}"> Sign up </a></li>
                <li><a href="{{'contact'}}"> Contact </a></li>
            </ul>
        </div>
    </nav>
    <hr>
        <section style="background-color: rgb(254, 235, 212);" class="main_content">
            <br>
            <h1 style="color: rgb(53, 0, 93);"><big><big>
                        <center>Give a Pet a Loving Home <img
                                src="https://png.pngtree.com/png-clipart/20220628/original/pngtree-paw-print-with-love-sign-png-image_8239608.png"
                                alt="paw" width="60px"></center>
                    </big></big></h1>
            <h3 style="color: rgb(53, 0, 93);;">
                <center>Explore, Adopt, and Change a Life!</center>
            </h3>
            <br>
            <p><big>
                    <center>"Discover the joy of adopting a furry friend and giving them a second chance at life. At Pet
                        Adoption, we connect loving families with pets in need, making the adoption process easy,
                        meaningful, and life-changing. Whether you're looking for a playful puppy, a cuddly kitten, or a
                        loyal senior companion, your new best friend is waiting for you here."</center>
                </big></p>
            <br>
        </section>
        <hr>
        <div class="row">
            <img src="https://wallpapercave.com/wp/wp2544022.jpg" alt="dog" style="width: 24.9%" height="229px">
            <img src="https://wallpapercave.com/wp/wp2544164.jpg" alt="cats" style="width:24.6%">
            <img src="https://wallpapercave.com/wp/wp2544115.jpg" alt="rabbit" style="width: 24.6%">
            <img src="https://wallpapercave.com/wp/wp2544059.jpg" alt="chicks" style="width: 24.9%" height="229px">
        </div>
        <hr>
        <section style="background-color: rgb(254, 235, 212);">
            <br>
            <center><big>
                    <h2>Why Choose Us ?</h2>
                </big></center>
            <center>
                <p><big>"We believe every pet deserves a chance to find a loving home and every person deserves the joy
                        of unconditional companionship. Our mission is to connect hearts—one paw at a time—by making the
                        adoption process simple, supportive, and life-changing. Let us help you find your perfect furry
                        friend and start a journey of love and happiness together."</big></p>
            </center>
            <br>
            <hr>
            <big>
                <p><b>Personalized Matches:&#128062;</b>We help connect you with pets that fit your family perfectly.
                </p>
            </big>
            <big>
                <p><b>Ongoing Support:&#128062;</b>From adoption to settling in, we're here to guide you.</p>
            </big>
            <big>
                <p><b>A Forever Friend:&#128062;</b>Give a pet a second chance for a loving home.</p>
            </big>
            <br>
        </section>
        <div class=" row2">
            <img src="https://img.freepik.com/premium-vector/hand-drawn-living-with-pet-illustration_23-2150121323.jpg?w=740"
                alt="dog" class="home_multi_img" >
            <img src="https://img.freepik.com/premium-vector/hand-drawn-living-with-pet-illustration_23-2150053446.jpg?w=900"
                alt="cats" class="home_multi_img">
            <img src="https://img.freepik.com/premium-vector/hand-drawn-living-with-pet-illustration_23-2150048317.jpg?w=740"
                alt="rabbit" class="home_multi_img">
            <img src="https://img.freepik.com/premium-vector/hand-drawn-living-with-pet-illustration_23-2150053449.jpg?w=900"
                alt="chicks" class="home_multi_img">
        </div>
        <hr>
        <section style="background-color: rgb(254, 235, 212);">
            <br>
            <center>
                <h1><big>Ready To Adopt ?</big></h1>
            </center>
            <center>
                <h3>Start Browsing And Find Your New Best Friend!</h3>
            </center>
            <br>
            <center><button class="btn1" style="background-color: rgb(81, 31, 122);"><big><big><a href="{{'gallery'}}" style="color: rgb(255, 255, 255);"><b>Browse Adoptable Pets here</b></a></big></big></button></center>
            <br>
            <br>
        </section>
        <hr>
    <footer>
        <section style="background-color: rgb(75, 0, 132); font-family: cursive;">
            <br>
            <h2 style="color: white;">Resources</h2>
            <ul>
                <li style="color: rgb(123, 37, 189);"><a href="{{'contact'}}" style="color: white;"> FAQS </a></li>
                <br>
                <li style="color: rgb(123, 37, 189);"><a href="{{'gallery'}}" style="color: white;"> Available Pets </a>
                </li>
                <br>
                <li style="color: rgb(123, 37, 189);"><a href="{{'login'}}" style="color: white;"> Adoption Process </a>
                </li>
                <br>
                <li style="color: rgb(123, 37, 189);"><a href="{{'service'}}" style="color: white;"> Our Services </a>
                </li>
            </ul>
            <br>
        </section>
    </footer>
    <script src="//code.tidio.co/2iozv9miewzlzu4fxxfolizku6mgk3p4.js" async></script>
</body>

</html>